* {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper {
    background-color: white;
    width: 30%;
    height: 600px;
    margin: 30px;
    border-width: 1em;
    align-content: center;

}

.nav {
    background-color: white;
    color: lightgray;

}
.title {
    background-color: rgb(13, 168, 129);
    color: white;
    height: 70px;
    padding: 10px
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  
}

.titles {
    color: rgb(13, 168, 129);
}
.about {
    width: 50%;
    height: 600px;
}